*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

header {
    display: flex;
    justify-content: space-between; /* Logo à esquerda e nav à direita */
    align-items: center; /* Centraliza verticalmente os itens */
    padding: 0 20px; /* Pequeno espaçamento nas laterais do header */
    height: 100px; /* Altura do header */
    background-color: #f4f4f4; /* Cor de fundo do header */
    border: 2px solid  black;
  }
  
  .logo img {
    max-height: 80px; /* Tamanho da logo */
  }
  
  nav {
    display: flex;
    gap: 20px; /* Espaçamento entre os links do nav */
  }
  
  nav a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    padding: 10px;
  }
  
  nav a:hover {
    color: #007BFF;
}

.banner {
    max-width: 1200px; /* Largura máxima do banner */
    margin: 20px auto 100px; /* Espaço acima e abaixo do banner e centraliza */
    padding: 0 20px; /* Espaço nas laterais do banner */
  }
  
.banner img {
    width: 100%; /* A imagem ocupa 100% do contêiner */
    height: auto; /* Mantém a proporção da imagem */
    display: block; /* Remove o espaço abaixo da imagem */
}


.container_conteudo{
    display: flex;
    font-size: 18px;
    justify-content: space-around;
    align-items: center;
}
.container_conteudo figcaption{
    font-size: 0.78rem;
    height: 30px;
    border: 1px solid black;
    border-top-width:0px;
}

.legenda-top {
    display: flex; /* Usar flexbox para alinhar itens */
    flex-direction: column; /* Alinha os itens em uma coluna */
    align-items: flex-start; /* Alinha os itens à esquerda */
    padding: 10px; /* Espaço interno ao redor dos elementos */
    background-color: rgb(207, 207, 207);
}

.legenda-top a,
.legenda-top .tempo {
    margin-bottom: 5px; /* Espaço entre os elementos */
}


.conteudo{
    max-width: 300px;
    margin: 20px auto;
    padding: 0 20px;


}

.conteudo img{
    width: 100%;
    height: auto;
    display: block;

}

.legenda{
    background-color: rgb(255, 255, 255);
}

.titulo{
    margin-top: 15px;
    background-color: yellow;
}

